html,body{
    width: 100%;
    height: 100%;
    direction: rtl;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'iranl';
}
.mg-bttm{
    margin-bottom: 60px;
}


@font-face {
    font-family: 'iranm';
    src:url('../fonts/Iran Sans medium .ttf') format("truetype") ;
}
@font-face {
    font-family: 'iranl';
    src:url('../fonts/Iran Sans light .ttf') format("truetype") ;
}
@font-face {
    font-family: 'iranb';
    src:url('../fonts/Iran Sans Bold .ttf') format("truetype") ;
}
.navbar{
    margin-bottom: 0;
}
.navbar-default{
    min-height: 100px;
    background-color: #fff;
    border-color: #fff;
}
.navbar-nav{
    float: right !important;
    margin-right: 70px;
    margin-top: 30px;
}
.navbar-nav>li{
    float: right !important;
    margin-left: 50px;
}
.navbar-nav li{
    transition: all .2s;
    transition-delay: .2s;
}
.navbar-nav li:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #ca1fb8;
    transition: all 0.2s;
}
.navbar-nav li:hover:before{
    bottom: 40px;
    background: rgb(167, 69, 157);
}
.navbar-nav li:hover{
    background: rgb(167, 69, 157);
}
 .navbar-nav li:hover a{
     color: #fff!important;
 }
.navbar-brand,.navbar-nav>li>a {
    font-size: 16px!important;
    color: #a7459d !important;
    font-weight: 600;
    cursor: pointer;
}
.navbar-brand img{
    width: 160px;
}
.glyphicon-shopping-cart{
    font-size: 25px;
    color: #a7459d;
    margin-right: 20px;
    position: absolute;
    right: 0;
    top: 49px;
}
.banner{
    position: relative;
}
.flx{
    display: flex;
    flex-direction: column;
}
.banner-top,.banner-down{
    min-height: 380px;
}
.banner-top{
    background-color:#c9adc6 ;
}
.banner-down{
    background-color:#d6bbd3 ;
}
.rectangle{
    width: 942px;
    position: absolute;
    top: 80px;
    left: 240px;
}
.rect2{
    width: 400px;
    height: 450px;
    border-radius:20px;
    background-color: #b08ead;
    position: absolute;
    top: 175px;
    left: 60%;
    z-index: 60;
}
.content,.link-rect{
    margin-top: 88px;
    padding-right: 31px;
    color: #fff;
}
.link-rect a{
    color: #fff;
    text-decoration: none;
    position: relative;

}
.link-rect a:before{
    content: '';
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    bottom: -12px;
    left: 0;
}

.rec-left,.rec-right{
height: 600px;

}

.rec-left{
    background-color:#e0dedf ;
    border-radius: 133px 0 0 20px;
}
.circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #b0111b;
    position: absolute;
    z-index: 5;
    left: 119px;
    bottom: 36px;
}
.rec-right{
    background-color: #c78b8b;
    border-radius: 0 20px 20px 0;
}
.rec-right img{
    position: absolute;
    right: 0;
    top: -111px;
}

.clock{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: #fff url("../images/clock2.png")  center;
    border: 20px solid #fff;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 30px rgba(0,0,0,.1),
    0 20px 20px rgba(0,0,0,.2),
    0 0 0 4px rgba(255,255,255,1);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}
.clock :before{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 2px solid #fff;
    background-color: #333;
    z-index: 10000;
}
.hour,.minut ,.secound{
    position: absolute;
}
.hour ,.hr{
    width: 160px;
    height: 160px;
}
.minut,.min{
    width: 190px;
    height: 190px;
}
.secound,.sec{
    width: 230px;
    height: 230px;
}
.hr,.min,.sec{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}
.hr:before{
    content: '';
    width: 10px;
    height: 64px;
    position: absolute;
    top: -55px;
    background: #848484;
    border-radius: 6px 6px 0 0;
    z-index: 16;
}
.min:before{
    content: '';
    width: 8px;
    height: 97px;
    position: absolute;
    top: -91px;
    background-color: #d6d6d6;
    border-radius: 6px 6px 0 0;
    z-index: 17;
}
.sec:before{
    content: '';
    width: 5px;
    height: 110px;
    position: absolute;
    top: -55px;
    background-color:#ca1fb8 ;
    border-radius: 6px 6px 0 0;
    z-index: 18;
}
section.intro{
    width: 80%;
}

.text-intro{
    width: 55%;
    margin: 40px auto;
}
span{
    color: #a7459d;

}
.text-intro a{
    border: 1px solid #d6d6d6;
    width: 115px;
    display: inline-block;
    height: 38px;
    text-align: center;
    line-height: 38px;
    margin-top: 7px;
    border-radius: 38px;
    color: #a7459d;
}
.text-intro a:hover{
    color: #fff;
    text-decoration: none;
    background: #a7459d;
}
.boximg{
    height: 500px;
    overflow: hidden;
    position: relative;
    margin-bottom: 44px;
    border-radius: 20px;
    transform: translateY(77px);
    opacity: 0;
    transition: 1s;

}
.one{
    transition-delay: 0.5s;
}
.two{
    transition-delay: 0.7s;
}
.three{
    transition-delay: 1s;
}
.boximg.active{
    opacity: 1;
    transform: translateY(0);
}



.intro-box{
    margin-bottom: 40px;
}
.box-content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #ceb3cb;
    padding: 20px;
}
.box-content a{
    color: #fff;
    text-decoration: none;
}
.about{
    width: 100%;
    background: #ceb3cb;
    padding: 97px 0;
}
.rect3{
    width: 551px;
    height: 560px;
    background-color: #b08ead;
    margin-right: -107px;
    z-index: 20;
    position: absolute;
    margin-top: 111px;
    transform: translateX(-200px);
    opacity: 0;
    transition: 1s;
}
.rect3.ani{
    opacity: 1;
    transform: translateX(0);
}
.product{
    margin: 70px 89px;
}
.product .pro-img img{
    border: 18px solid #b08ead;

}
.pro-content p {
    color: #000;
    line-height: 35px;
    font-size: 1.5rem;
}
.collection{

    background:#ceb3cb;
}
.collec-left{
    margin: 73px 0;
    position: relative;
}
.collec-left img{
    position: absolute;
}

.col-top{
    background: #d4a4a4;
  height: 450px;

}
.col-top img{
    position: absolute;
    left: 0;
    top: -83px;
}
.col-bottm{
    background: #d2d1cf;
height: 300px;
}
.col-bottm img{
    position: absolute;
    left: 0;
    bottom: 0;
}
.rect4{
    width: 500px;
    height: 450px;
    background-color: #b08ead;
    margin-right: 240px;
    margin-top: 200px;

}
.gallery{
    margin: 70px 0;
}
.form-data{
    background: #ceb3cb;
    color: #fff;
    padding: 50px 0;
}
.form-data ul{
   list-style: none;
}
.form-data ul li{
font-size: 17px;
}
.form-control{
    background-color: transparent;
    border-color: #fff;
    height: 52px;

}
.form-group{
    margin-bottom: 25px;
}
form button{
    width: 150px !important;
    height: 49px!important;
    background-color: transparent;
    border: 2px solid #fff;
}
.form-data input::placeholder{
    color: #fff!important;
}
.news{
    margin: 60px auto;
    text-align: center;
}
.input-group-addon{
    border-radius: 0;
    background-color: #ceb3cb;
    color: #fff;
}
.input-group-btn:last-child>.btn{
    background-color: #ceb3cb;
    color: #fff;
}
.inbox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inbox a{
    width: 60px;
    border: 1px solid;
}
.inbox input{
    height: 50px;
    border: 1px solid #ceb3cb;
    padding-right: 4px;
    border-left: 0;
}
footer{
    height: 400px;
}

.footer-top{
    height: 250px;
  background-color:#d6bbd3 ;

}
.flx2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.flx2 div{
    border: 1px solid #ba9fb7;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    background: #ba9fb7;
    color: #fff;
    font-size: 25px;
    margin-top: 30px;
}
.footer-btm{
  background-color: #c9adc6;
    height: 150px;
    padding-top: 30px;

}
.menu-btm ul li{
    display: inline-block;
    padding: 20px;
}
.menu-btm ul li a{
    color: #fff;
    font-size: 20px;
}
.social{
    color: #fff;
}
.social i{
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #d6bbd3;
    line-height: 50px;
    margin-left: 7px;
    background-color: #d6bbd3;

}
footer img{
width: 125px;
}
footer p{
    color: #fff;
}

@media only screen and (max-width:767px ){
    .navbar-collapse{
        border-top: 0;
    }
    .navbar-nav>li{
        float: none!important;
    }
    .navbar-nav{
        margin-right: 0!important;

    }
    .rectangle{
        left: 0;
    }
    .rect2{
        width: auto;
        height: auto;
        left: 65%;
    }
    .circle{
        left: 0;
        bottom: 0;
    }
    .clock{
        width: 250px;
        height: 250px;
        right: auto;
    }
    .hour ,.hr{
        width: 80px;
        height: 80px;
    }
    .minut,.min{
        width: 90px;
        height: 90px;
    }
    .secound,.sec{
        width: 110px;
        height: 110px;
    }
    .rect3{
        width: 100%;
         height:100%;
        background-color: #b08ead;
         margin-right: 0;
         z-index: 1;
         position: static;
         margin-top: 0;
        font-size: 16px;
        padding: 20px;

    }

    .rect4{
        width: 100%;
       height: 100%;
    background-color: #b08ead;
    margin-right: 0;
        margin-top: 140px;
}
    .rec-right img{
        position: static;
    }
    .product .pro-img img {
        border: 4px solid #b08ead;
    }
    .col-top img{
        top: -35px;
    }

}
/*------------- product page*/
.banner-page{
    height: 180px;
    background-color: #d6bbd3;
    color: #fff;
    margin: 20px 0;
    padding-right: 30px;
}
.banner-page h1{
    line-height: 180px;
}
